<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.2</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{271.0,282.0}</string>
        <key>name</key>
        <string>sprites</string>
        <key>textureFileName</key>
        <string>sprites-0001-default.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>cloud.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{31.0,19.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-4.5}</string>
            <key>spriteSourceSize</key>
            <string>{32.0,32.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1.0,11.0},{31.0,19.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{146.0,232.0},{31.0,19.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>item.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{16.0,16.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,100.0},{16.0,16.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>lava_0.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,9.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-3.5}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,7.0},{16.0,9.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{245.0,244.0},{16.0,9.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>lava_1.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,9.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-3.5}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,7.0},{16.0,9.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{164.0,253.0},{16.0,9.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>lava_2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,9.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-3.5}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,7.0},{16.0,9.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{146.0,253.0},{16.0,9.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>lava_3.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{16.0,16.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,118.0},{16.0,16.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>lava_4.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{16.0,16.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,136.0},{16.0,16.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>lava_5.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{16.0,16.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,82.0},{16.0,16.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{228.0,228.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,2.0},{228.0,228.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pill_00.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,2.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{212.0,252.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pill_01.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,1.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,1.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{197.0,252.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pill_02.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,2.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,0.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{161.0,264.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pill_03.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,1.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,1.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{122.0,266.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pill_04.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,2.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{107.0,266.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pill_05.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-1.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,3.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{92.0,266.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pill_06.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-2.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,4.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{77.0,266.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pill_07.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-1.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,3.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{62.0,266.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pill_08.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,2.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{227.0,252.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pill_09.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,1.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,1.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{242.0,255.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pill_10.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,2.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,0.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{17.0,266.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pill_11.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,1.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,1.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{32.0,266.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pill_12.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,2.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{254.0,2.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pill_13.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-1.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,3.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{47.0,266.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pill_14.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-2.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,4.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{254.0,16.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pill_15.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-1.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,3.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{254.0,30.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pill_16.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,2.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{254.0,44.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pill_17.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,1.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,1.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{254.0,58.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pill_18.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,2.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,0.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{254.0,72.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pill_19.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,1.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,1.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{250.0,86.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pill_20.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,2.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{250.0,100.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pill_21.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-1.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,3.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{250.0,114.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pill_22.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-2.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,4.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{250.0,128.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pill_23.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-1.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,3.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{250.0,142.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pill_24.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,2.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{250.0,156.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pill_25.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,1.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,1.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{250.0,170.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pill_26.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,2.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,0.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{250.0,184.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pill_27.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,1.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,1.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{250.0,198.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pill_28.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,2.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{250.0,212.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pill_29.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-1.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,3.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{182.0,252.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pill_30.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-2.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,4.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{146.0,264.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pill_31.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-1.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,3.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,266.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>player.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{16.0,16.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,154.0},{16.0,16.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>playerCrying.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{20.0,18.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{20.0,18.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{20.0,18.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,22.0},{20.0,18.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>playerHappy.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{20.0,18.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{20.0,18.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{20.0,18.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,2.0},{20.0,18.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>playerIdle.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{20.0,18.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{20.0,18.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{20.0,18.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{223.0,232.0},{20.0,18.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>playerSmile.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{20.0,18.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{20.0,18.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{20.0,18.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{179.0,232.0},{20.0,18.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>playerSuperhappy.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{20.0,18.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{20.0,18.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{20.0,18.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{201.0,232.0},{20.0,18.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>playerUnhappy.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{20.0,18.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{20.0,18.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{20.0,18.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,62.0},{20.0,18.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>playerWin.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{20.0,18.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{20.0,18.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{20.0,18.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,42.0},{20.0,18.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>saw_0.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{34.0,32.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{34.0,32.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{34.0,32.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,232.0},{34.0,32.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>saw_1.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{34.0,32.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{34.0,32.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{34.0,32.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{38.0,232.0},{34.0,32.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>saw_2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{34.0,32.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{34.0,32.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{34.0,32.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{110.0,232.0},{34.0,32.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>saw_3.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{34.0,32.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{34.0,32.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{34.0,32.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{74.0,232.0},{34.0,32.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>scanBot_0.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{16.0,16.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,172.0},{16.0,16.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>scanBot_1.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{16.0,16.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,190.0},{16.0,16.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>scanBot_2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{16.0,16.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,208.0},{16.0,16.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>scanBot_3.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{16.0,16.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{245.0,226.0},{16.0,16.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
