<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.2</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{304.0,251.0}</string>
        <key>name</key>
        <string>sprites</string>
        <key>textureFileName</key>
        <string>sprites-0001-default.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>cloud.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{31.0,19.0}</string>
            <key>spriteOffset</key>
            <string>{0.5,-4.5}</string>
            <key>spriteSourceSize</key>
            <string>{32.0,32.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1.0,11.0},{31.0,19.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,138.0},{31.0,19.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>explosion_0.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{6.0,6.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{5.0,5.0},{6.0,6.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{290.0,206.0},{6.0,6.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>explosion_1.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{10.0,10.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{3.0,3.0},{10.0,10.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{290.0,194.0},{10.0,10.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>explosion_2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{12.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{2.0,2.0},{12.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{286.0,16.0},{12.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>explosion_3.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{14.0,14.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1.0,1.0},{14.0,14.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{268.0,110.0},{14.0,14.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>explosion_4.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{16.0,16.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{254.0,217.0},{16.0,16.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>explosion_5.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{16.0,16.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{272.0,199.0},{16.0,16.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>explosion_6.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{16.0,16.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{272.0,217.0},{16.0,16.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>item.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{16.0,16.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{276.0,158.0},{16.0,16.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>lava_0.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,9.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-3.5}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,7.0},{16.0,9.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{284.0,121.0},{16.0,9.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>lava_1.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,9.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-3.5}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,7.0},{16.0,9.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{284.0,110.0},{16.0,9.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>lava_2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,9.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-3.5}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,7.0},{16.0,9.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,232.0},{16.0,9.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>lava_3.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{16.0,16.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{276.0,176.0},{16.0,16.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>lava_4.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{16.0,16.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{268.0,2.0},{16.0,16.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>lava_5.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{16.0,16.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{268.0,20.0},{16.0,16.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{228.0,228.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,2.0},{228.0,228.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pillCyan.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{15.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{15.0,12.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{15.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{254.0,235.0},{15.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pillGreen.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{271.0,235.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pillPink.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{286.0,2.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pillTemplate.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{287.0,132.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pillYellow.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{13.0,12.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{13.0,12.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{286.0,235.0},{13.0,12.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>player.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{16.0,16.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{268.0,38.0},{16.0,16.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>playerCrying.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{20.0,18.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{20.0,18.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{20.0,18.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,179.0},{20.0,18.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>playerHappy.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{20.0,18.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{20.0,18.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{20.0,18.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,219.0},{20.0,18.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>playerIdle.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{20.0,18.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{20.0,18.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{20.0,18.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,199.0},{20.0,18.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>playerSmile.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{20.0,18.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{20.0,18.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{20.0,18.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,159.0},{20.0,18.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>playerSuperhappy.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{20.0,18.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{20.0,18.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{20.0,18.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{254.0,179.0},{20.0,18.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>playerUnhappy.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{20.0,18.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{20.0,18.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{20.0,18.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{265.0,138.0},{20.0,18.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>playerWin.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{20.0,18.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{20.0,18.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{20.0,18.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{254.0,159.0},{20.0,18.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>saw_0.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{34.0,32.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{34.0,32.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{34.0,32.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,104.0},{34.0,32.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>saw_1.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{34.0,32.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{34.0,32.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{34.0,32.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,2.0},{34.0,32.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>saw_2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{34.0,32.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{34.0,32.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{34.0,32.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,36.0},{34.0,32.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>saw_3.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{34.0,32.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{34.0,32.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{34.0,32.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,70.0},{34.0,32.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>scanBot_0.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{16.0,16.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{268.0,56.0},{16.0,16.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>scanBot_1.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{16.0,16.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{268.0,74.0},{16.0,16.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>scanBot_2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{16.0,16.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{268.0,92.0},{16.0,16.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>scanBot_3.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{16.0,16.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{254.0,199.0},{16.0,16.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
